.jumbotron.banner {
  background: url(../img/queen-band-wallpaper-thin.jpg) no-repeat center;
  background-size: cover;
  color: rgb(3, 3, 3);
  padding-top: 9.5rem;
  
  h1 {
    font-size: 60px;
  }
  p {
    font-size: 20px;
  } 
}

.jumbotron {
  margin-bottom: 20px;
}


