// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

$body-bg: rgb(116, 116, 116);
$body-color: white;

.container {
  h2 {
    color: gold;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
  }
  a {
    color: white;
  }
}

.col {
  img {
    margin-bottom: 15px;
  }
}

.card-body {
  h2 {
    color: black;
  }
}

// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";

@import "jumbotron"; 

@import "discography";
